.mg-x {
  &.__10 {
    margin: 0 10px;
  }

  &.__80 {
    margin: 0 80px;
  }
}

.mt {
  &.__10 {
    margin-top: 10px;
  }

  &.__20 {
    margin-top: 20px;
  }

  &.__30 {
    margin-top: 30px;
  }
}

.mb {
  &.__5 {
    margin-bottom: 5px;
  }

  &.__10 {
    margin-bottom: 10px;
  }

  &.__15 {
    margin-bottom: 15px;
  }

  &.__20 {
    margin-bottom: 20px;
  }

  &.__25 {
    margin-bottom: 25px;
  }

  &.__30 {
    margin-bottom: 30px;
  }

  &.__40 {
    margin-bottom: 40px;
  }

  &.__55 {
    margin-bottom: 55px;
  }

  &.__60 {
    margin-bottom: 60px;
  }

  &.__80 {
    margin-bottom: 80px;
  }
}

.mr {
  &.__10 {
    margin-right: 10px;
  }

  &.__15 {
    margin-right: 15px;
  }

  &.__85 {
    margin-right: 85px;
  }

  &.__105 {
    margin-right: 105px;
  }
}

.pd-y {
  &.__5 {
    padding: 5px 0;
  }

  &.__17 {
    padding: 17px 0;
  }

  &.__60 {
    padding: 60px 0;
  }

  &.__128 {
    padding: 128px 0;
  }
}

.pt {
  &.__30 {
    padding-top: 30px;
  }

  &.__100 {
    padding-top: 100px;
  }

  &.__110 {
    padding-top: 110px;
  }
}

.pb {
  &.__15 {
    padding-bottom: 15px;
  }

  &.__45 {
    padding-bottom: 45px;
  }

  &.__270 {
    padding-bottom: 270px;
  }

  &.__350 {
    padding-bottom: 350px;
  }
}
