$white: #ffffff;
$white-two: #f4f4f4;
$white-three: #d8d8d8;
$white-four: #fcfcfc;
$white-five: #d5d5d5;
$white-six: #d4d4d4;
$black: #242424;
$greyish-brown: #4a4a4a;
$greyish-brown-two: #5e533c;
$warm-grey: #9b9b9b;
$puce: #a78350;
$golden: #f3b700;
$dull-orange: #d0a129;
$sandy-brown: #c19860;
